 <header
      class="py-4 w-full sm:absolute inset-x-0 top-0 z-20 lg:container lg:mx-auto fixed bg-[#DAE6F2] sm:bg-transparent px-8 lg:px-0"
    >
      <nav class="flex h-10 justify-between">
        <a class="text-apple-900 flex" href="/">
          <img
            class="object-scale-down block w-10"
            src="/media/logo.svg"
            alt="Bushel of Apples logo"
            width="40"
            height="40"
          />
          <h1 class="font-black text-2xl self-center">Bushel</h1>
        </a>
        <ol
          class="grid grid-rows-1 grid-flow-col gap-4 flex-none justify-items-stretch"
        >
          <li class="text-apple-900 flex items-center hidden">
            <a href="/">Press Kit</a>
          </li>
          <li class="text-apple-900 flex items-center">
            <a
              class="text-apple-400 bg-black p-2 rounded-md font-semibold"
              href="https://testflight.apple.com/join/Jgk5o2M7"
              >      <img
                class="text-white inline h-4 mr-1 mb-1"
                src="/media/testflight.svg"
                width="24"
                height="24"
                alt=""
              />
              Join the Beta</a
            >
          </li>
        </ol>
      </nav>
    </header>