<head>
<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <title>{{ title }}</title>

    <meta
      name="description"
      content="{{ description }}"
    />
    <meta name="author" content="BrightDigit" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://getbushel.app/" />
    <meta
      property="og:description"
      content="{{ description }}"
    />
    {% if draft %}
    <meta name="robots" content="noindex">
    {% endif %}
    <meta property="og:image" content="social-image.jpg" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#8ac0f2" />
    <meta name="theme-color" content="#DAE6F2" />
    <link rel="preload" href="/js/main.js" as="script" />
    </head>