@font-face {
  font-family: "flaticon";
  src: url("flaticon/Flaticon.ttf?20c8a9854692fe84b37fe1165b9fb7d6")
      format("truetype"),
    url("flaticon/Flaticon.woff?20c8a9854692fe84b37fe1165b9fb7d6")
      format("woff"),
    url("flaticon/Flaticon.woff2?20c8a9854692fe84b37fe1165b9fb7d6")
      format("woff2"),
    url("flaticon/Flaticon.eot?20c8a9854692fe84b37fe1165b9fb7d6#iefix")
      format("embedded-opentype"),
    url("flaticon/Flaticon.svg?20c8a9854692fe84b37fe1165b9fb7d6#flaticon")
      format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-twitter:before {
    content: "\f101";
}
.flaticon-youtube:before {
    content: "\f102";
}
.flaticon-github:before {
    content: "\f103";
}
.flaticon-podcast:before {
    content: "\f104";
}
.flaticon-rss:before {
    content: "\f105";
}
.flaticon-newsletter:before {
    content: "\f106";
}
.flaticon-calendar:before {
    content: "\f107";
}
.flaticon-announcement:before {
    content: "\f108";
}
.flaticon-share:before {
    content: "\f109";
}
.flaticon-linkedin:before {
    content: "\f10a";
}
.flaticon-buffer:before {
    content: "\f10b";
}
.flaticon-mastodon:before {
    content: "\f10c";
}
.flaticon-clipboard:before {
    content: "\f10d";
}
.flaticon-patreon:before {
    content: "\f10e";
}
.flaticon-app:before {
    content: "\f10f";
}
.flaticon-press-release:before {
    content: "\f110";
}
.flaticon-indie-hackers:before {
    content: "\f111";
}
.flaticon-catalog:before {
    content: "\f112";
}
.flaticon-product-hunt:before {
    content: "\f113";
}
.flaticon-airport:before {
    content: "\f114";
}