@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200..700&display=swap");
@import url("./flaticon.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: env(safe-area-inset-top, 20px);
  padding-right: env(safe-area-inset-right, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  padding-left: env(safe-area-inset-left, 20px);
}

@layer base {
  p > strong {
    @apply font-semibold;
  }


  a.yta svg {
    @apply h-6 w-6 inline;
  }

  a.yta:hover svg, body#press-kit a.yta:hover  {
    @apply animate-pulse text-red-600 fill-red-600 no-underline;
  }

  main#content, main>.content {
    @apply font-light bg-gradient-to-b from-water-300 to-apple-12 lg:text-lg;
  }

  main#content h1 , main>.content h1{
    @apply text-4xl sm:text-6xl font-black py-8;
  }

  main>.content h2, body#press-kit>main#content h2{
    @apply text-2xl sm:text-4xl font-black py-8;
  }

  main>.content h3, body#press-kit>main#content h3{
    @apply text-xl sm:text-2xl font-semibold lg:font-bold py-6;
  }
 
  main>.content h4, body#press-kit>main#content h4{
    @apply text-base lg:text-xl py-2 lg:font-medium;
  }
  
  main#content p, main>.content p{ 
    @apply py-4;
  }

  main#content strong, main>.content strong {
    @apply font-semibold;
  }

  main>.content ul { 
    @apply list-disc ml-8 -indent-4 list-inside py-4;
  }

  main>.content .notes img{
    @apply xl:max-w-4xl xl:max-h-96;
  }

  body#support>main#content {
    @apply bg-white bg-none;
  }

  body#support>main#content h4 {
    @apply text-lg font-normal my-2 sm:text-xl sm:mt-4 sm:-mb-2;
  }

  body#support>main#content ol {
    @apply sm:my-4;
  }

  body#support>main#content section p a {
    @apply text-water-975 underline;
  }

  body#support>main#content #table-of-contents {
    @apply text-sm sm:text-base my-4 -ml-4;
  }

  body#support>main#content #table-of-contents a {
    @apply text-water-975 underline text-lg p-2;
  }

  body#support>main#content #table-of-contents li{
    @apply mx-4 my-1;
  }

  body#support>main#content ul {
    @apply list-disc ml-8 -indent-4 list-inside py-4;
  }

  body#support>main#content a{
    @apply text-water-975 hover:underline font-normal;
  }


  body#press-kit>main#content iframe.youtube {
    @apply w-full aspect-video max-w-xl;
  }

  body#press-kit>main#content a {
    @apply text-blue-600;
  }

  body#press-kit>main#content ol {
    @apply list-decimal list-outside pl-4;
  }


  body#press-kit>main#content ol > li {
    @apply px-2;
  }

  body#press-kit>main#content ol > li, body#press-kit>main#content ul > li {
    @apply my-4;
  }

  body#press-kit>main#content ol > li > p, body#press-kit>main#content ul > li > p {
    @apply contents;
  }

  body#press-kit>main#content ol > li > p > strong:first-child:after, body#press-kit>main#content ul > li > p > strong:first-child:after {
    content: "";
    display: block;
  }

  body#press-kit>main#content .collection > ul {
    @apply grid grid-cols-2 md:grid-cols-3 md:gap-2 justify-start;
  }

  body#press-kit>main#content .collection > ul > li {
    @apply my-4 flex;
  }

  body#press-kit>main#content .collection > ul > li > img{
    @apply flex;
  }

  body#press-kit>main#content .collection + p {
    @apply text-right md:text-left;
  }

  body#press-kit>main#content .collection + p > a > svg {
    @apply inline h-4 w-4 object-contain fill-current;
  }

  body#press-kit>main#content .collection + p > a:hover > svg {
    @apply animate-bounce;
  }

  body#press-kit>main#content #contact-info > ul {
    @apply sm:flex w-full flex-wrap  justify-between md:justify-start lg:max-w-screen-lg;
  }

  body#press-kit>main#content #contact-info > ul > li {
    @apply font-bold text-sm flex flex-col basis-1/3 mx-2 md:basis-1/4 lg:basis-1/3 lg:flex-row lg:items-baseline lg:mx-0 lg:my-2;
  }

  body#press-kit>main#content #contact-info > ul > li > ul {
    @apply flex flex-col lg:my-0 lg:ml-2;
  }

  body#press-kit>main#content #contact-info > ul > li > ul > li {
    @apply font-light text-base my-0 block lg:my-0;
  }

  body#press-kit>main#content .pro-features {
    @apply mx-8 -my-4 text-sm md:text-base;
  }

  body#press-kit>main#content .pro-features > * {
    @apply my-4;
  }
  body#press-kit>main#content .pro-features li {
    @apply my-2 flex flex-col;
  }

  body#press-kit a:hover {
    @apply underline;
  }

  body > footer ul.links a {
    @apply text-water-975;
  }

  body > footer ul.links a:hover {
    @apply underline;
  }
  
  body > footer .icons a:hover {
    @apply no-underline text-apple-800 drop-shadow-lg;
  }
}
