@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200..700&display=swap");
@import url("./flaticon.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: env(safe-area-inset-top, 20px);
  padding-right: env(safe-area-inset-right, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  padding-left: env(safe-area-inset-left, 20px);
}

@layer base {
  p > strong {
    @apply font-semibold;
  }

  main#content, main>.content {
    @apply font-light bg-gradient-to-b from-water-300 to-apple-12 lg:text-lg;
  }

  main#content h1 , main>.content h1{
    @apply text-4xl sm:text-6xl font-black py-8;
  }

  main#content h2, main>.content h2{
    @apply text-2xl sm:text-4xl font-black py-8;
  }

  main#content h3, main>.content h3{
    @apply text-xl sm:text-2xl font-semibold lg:font-bold py-6;
  }
 
  main#content h4, main>.content h4{
    @apply text-base lg:text-xl py-2 lg:font-medium;
  }
  
  main#content p, main>.content p{ 
    @apply py-4;
  }

  main#content strong, main>.content strong {
    @apply font-semibold;
  }

  main#content ul, main>.content ul { 
    @apply list-disc ml-8 -indent-4 list-inside py-4;
  }

  main>.content .notes img{
    @apply xl:max-w-4xl;
  }
}
