@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200..700&display=swap');
@import url('./flaticon.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  padding-top: env(safe-area-inset-top, 20px);
  padding-right: env(safe-area-inset-right, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  padding-left: env(safe-area-inset-left, 20px);
}