---
layout: layout.njk
pure: true
title: macOS Virtual Machine App for Developers - Bushel
description: Quickly test, rollback, simulate and debug your macOS apps. Sign up to become a tester today!
---
<div
        class="bg-gradient-to-b from-water-300 to-sandy-900 pt-10 drop-shadow-2xl z-10 flex flex-col items-center"
      >
        <section
          class="flex flex-col items-center p-10 lg:container lg:mx-auto"
        >
          <div class="contents lg:flex lg:items-center sm:self-center">
            <a class="flex m-10 items-center" href="/">
              <img
                class="max-h-56"
                src="/media/logo.svg"
                alt="Bushel of Apples logo"
                width="224"
                height="224"
              />
            </a>
            <h2
              class="text-4xl lg:text-6xl xl:text-7xl lg:leading-snug text-center xl:tracking-tight font-black max-w-2xl"
            >
              Create Unbreakable macOS Apps
            </h2>
          </div>
          <div
            class="py-4 text-lg md:text-xl md:py-8 max-w-screen-md md:leading-relaxed grid grid-rows-1 gap-4 lg:gap-6 lg:my-2"
          >
            <p>
              <strong
                >Bushel is the macOS virtual machine app for developers</strong
              >
              who want to be rigorous and uncompromising in their app testing.
              <strong>Bushel</strong> is focused on giving you the complete,
              native capabilities of the operating system for all your testing
              requirements.
            </p>
          </div>
          <form
            id="join-waitlist"
            class="signup flex-col flex w-full my-2 md:grid md:grid-rows-1 md:grid-flow-col md:gap-2 md:max-w-screen-md xl:text-xl"
            data-props="{'location' : 'unbreakable-waitlist'}"
            action="https://formspree.io/f/xoqbvlja"
            accept-charset="UTF-8"
            enctype="multipart/form-data"
            method="POST"
          >
            <input
              name="email"
              placeholder="leogdion@brightdigit.com"
              class="bg-opacity-80 rounded-lg bg-white p-4 my-2 text-lg xl:text-xl outline-none focus:bg-opacity-100"
              type="email"
              required
            />
            <input name="source" value="hero" type="hidden" />
            <button
              type="submit"
              class="bg-gray-800 text-white p-4 text-lg my-2 rounded-lg font-semibold xl:text-xl hover:bg-apple-900"
            >
              <img
                class="text-white inline h-6"
                src="media/checklist.svg"
                width="24"
                height="24"
                alt=""
              />
              Join the Waitlist
            </button>
          </form>
        </section>
        <section
          class="flex flex-col items-center p-10 md:flex-row lg:container lg:mx-auto"
        >
          <picture class="sm:flex">
            <source
              type="image/webp"
              srcset="/media/screenshots/macOS.monterey.sharing.prefs.webp"
            />
            <source
              type="image/png"
              srcset="/media/screenshots/macOS.monterey.sharing.prefs.png"
            />
            <img
              class="w-full"
              src="/media/screenshots/macOS.monterey.sharing.prefs.png"
              alt="Running macOS Monterey Virtually"
              width="370"
              height="244"
            />
          </picture>

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              No more <em>"It works on my machine"</em>
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              <strong
                >Bushel is a macOS-only virtual machine app made for
                developers</strong
              >
              who need an easy-to-use way to make sure their apps run perfectly
              across multiple system configurations and localizations.
            </p>
          </div>
        </section>
      </div>
      <div class="bg-gradient-to-b from-apple-100 to-water-900">
        <section
          class="flex flex-col items-center p-10 md:flex-row-reverse lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          <picture class="sm:flex">
            <source
              type="image/webp"
              srcset="/media/screenshots/bushel.welcome.webp"
            />
            <source
              type="image/png"
              srcset="/media/screenshots/bushel.welcome.png"
            />
            <img
              class="w-full"
              src="/media/screenshots/bushel.welcome.png"
              alt="Bushel Welcome Screen"
              width="370"
              height="244"
            />
          </picture>

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              From the Ventura beta to Big Sur…
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              With Bushel, you can set up your virtual machine for almost any
              configuration,
              <strong
                >from a fresh, factory reset of the Ventura beta all the way
                back to Big Sur.</strong
              >
            </p>
          </div>
        </section>

        <section
          class="flex flex-col items-center p-10 md:flex-row lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          <picture class="sm:w-full">
            <source
              type="image/webp"
              srcset="/media/screenshots/macOS.monterey.hallo.webp"
            />
            <source
              type="image/png"
              srcset="/media/screenshots/macOS.monterey.hallo.png"
            />
            <img
              class="w-full"
              src="/media/screenshots/macOS.monterey.hallo.png"
              alt="macOS Monterey Welcome Screen"
              width="370"
              height="244"
            />
          </picture>

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              With 1,000 possibilities, or 1'000…
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              For apps in France, China, Egypt and everywhere in between, Bushel
              can
              <strong
                >handle localization, accessibility and UX testing for every
                locale and language that Apple supports.</strong
              >
            </p>
          </div>
        </section>

        <section
          class="flex flex-col items-center p-10 md:flex-row-reverse lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          <picture class="sm:w-full">
            <source
              type="image/webp"
              srcset="/media/screenshots/bushel.image.library.webp"
            />
            <source
              type="image/png"
              srcset="/media/screenshots/bushel.image.library.png"
            />
            <img
              class="w-full"
              src="/media/screenshotsbushel.image.library.png"
              alt="Running macOS Monterey Virtually"
              width="370"
              height="244"
            />
          </picture>

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              You can break everything!
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              <strong
                >Test, simulate, roll back and debug apps and scripts however
                you need to without worrying about destroying your
                machine.</strong
              >
              Need to run a startup script on a brand-new machine? We made
              Bushel to help you do it with zero risk!
            </p>
          </div>
        </section>
      </div>
      <div class="bg-gradient-to-b from-sandy-100 to-apple-100 sm:py-10">
        <section
          class="flex flex-col items-center p-10 md:flex-row lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          <picture class="sm:w-full">
            <source
              type="image/webp"
              srcset="/media/screenshots/bushel.image.library.webp"
            />
            <source
              type="image/png"
              srcset="/media/screenshots/bushel.image.library.png"
            />
            <img
              class="w-full"
              src="/media/screenshotsbushel.image.library.png"
              alt="Running macOS Monterey Virtually"
              width="370"
              height="244"
            />
          </picture>

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              Help us make Bushel brilliant!
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              Bushel is currently in Alpha, but
              <strong>we will be ready for testers very soon.</strong> If you
              want to be invited to our first TestFlight, or even if you just
              want updates on Bushel, leave us your email below, and we will get
              in touch with you.
            </p>
          </div>
        </section>
        <form
          data-props="{'location' : 'brilliant-tester'}"
          class="signup flex-col flex w-full md:grid md:grid-rows-1 md:grid-flow-col md:gap-2 lg:mx-auto lg:max-w-screen-sm xl:text-xl pt-0 p-10"
          action="https://formspree.io/f/xoqbvlja"
          accept-charset="UTF-8"
          enctype="multipart/form-data"
          method="POST"
        >
          <input
            name="email"
            placeholder="leogdion@brightdigit.com"
            class="bg-white bg-opacity-80 rounded-lg p-4 my-2 text-lg xl:text-xl outline-none focus:bg-opacity-100"
            type="email"
            required
          />
          <input name="source" value="hero" type="hidden" />
          <button
            type="submit"
            class="bg-gray-800 text-white p-4 text-lg my-2 rounded-lg font-semibold xl:text-xl hover:bg-apple-900"
          >
            <img
              class="text-white inline h-6"
              src="media/checklist.svg"
              width="24"
              height="24"
              alt=""
            />
            Become a Tester
          </button>
        </form>
        <section
          id="faq"
          class="hidden flex flex-col items-center lg:container lg:mx-auto mx-10 py-4"
        >
          <h2
            class="text-2xl my-2 font-bold sm:text-4xl sm:tracking-tight sm:my-6 xl:my-8 md:text-6xl 2xl:text-8xl"
          >
            Help us make Bushel brilliant!
          </h2>
          <ol
            class="grid grid-cols-1 grid-flow-row gap-2 my-2 text-lg sm:text-xl sm:gap-6 sm:my-4 md:text-2xl md:font-light 2xl:text-4xl 2xl:gap-8 2xl:my-12"
          >
            <li>Concerning Hobbits l golf air fifth bell prolonging camp.</li>
            <li>Grond humble rods nearest mangler.</li>
            <li>Enormity Lórien merry gravy stayed move.</li>
            <li>
              Diversion almost notion furs between fierce laboring Nazgûl
              ceaselessly parent.
            </li>
            <li>Agree ruling um wasteland Bagshot Row expect sleep.</li>
          </ol>
          <form
            data-props="{'location' : 'feature-list'}"
            class="flex-col flex w-full my-2 md:grid md:grid-rows-1 md:grid-flow-col md:gap-2 md:max-w-screen-sm xl:text-xl"
            action="https://formspree.io/f/xoqbvlja"
            accept-charset="UTF-8"
            enctype="multipart/form-data"
            method="POST"
          >
            <input
              name="email"
              placeholder="leogdion@brightdigit.com"
              class="bg-white bg-opacity-80 rounded-lg p-4 my-2 text-lg xl:text-xl outline-none focus:bg-opacity-100"
              type="email"
              required
            />
            <input name="source" value="hero" type="hidden" />
            <button
              type="submit"
              class="bg-gray-800 text-white p-4 text-lg my-2 rounded-lg font-semibold xl:text-xl hover:bg-apple-900"
            >
              <img
                class="text-white inline h-6"
                src="media/checklist.svg"
                width="24"
                height="24"
                alt=""
              />
              Join the Waitlist
            </button>
          </form>
        </section>
      </div>