---
layout: layout.njk
pure: true
title: macOS Virtual Machine App for Developers - Bushel
description: Quickly test, rollback, simulate and debug your macOS apps. Sign up to become a tester today!
---
<div
        class="bg-gradient-to-b from-water-300 to-sandy-900 pt-10 drop-shadow-2xl z-10 flex flex-col items-center"
      >
        <section
          class="flex flex-col items-center p-10 lg:container lg:mx-auto"
        >
          <div class="contents lg:flex lg:items-center sm:self-center">
            <a class="flex m-10 items-center" href="/">
              <img
                class="max-h-56"
                src="/media/logo.svg"
                alt="Bushel of Apples logo"
                width="224"
                height="224"
              />
            </a>
            <h2
              class="text-4xl lg:text-6xl xl:text-7xl lg:leading-snug text-center xl:tracking-tight font-black max-w-2xl"
            >
              Create Unbreakable macOS Apps
            </h2>
          </div>
          <div
            class="py-4 text-lg md:text-xl md:py-8 max-w-screen-md md:leading-relaxed grid grid-rows-1 gap-4 lg:gap-6 lg:my-2"
          >
            <p>
              <strong
                >Bushel is the macOS virtual machine app for developers</strong
              >
              who want to be rigorous and uncompromising in their app testing.
              <strong>Bushel</strong> is focused on giving you the complete,
              native capabilities of the operating system for all your testing
              requirements.
            </p>
          </div>
          <a 
          class="w-full max-w-md flex items-center mt-8 lg:mt-0 -mb-8"
          href="https://apps.apple.com/us/app/bushel-dev-app-for-testing-vm/id1642807785?mt=12&amp;itsct=apps_box_badge&amp;itscg=30200">
          <img class="w-full flex " src="https://tools.applemediaservices.com/api/badges/download-on-the-mac-app-store/black/en-us?size=250x83&amp;releaseDate=1702598400" alt="Download on the Mac App Store">
          </a>
          

        </section>
        <section
          class="flex flex-col items-center p-10 md:flex-row lg:container lg:mx-auto"
        >
        {% picture "/media/screenshots/Machine-AppStore","Setting up a VM in Bushel" %}
        <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              No more <em>"It works on my machine"</em>
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              <strong
                >Bushel is a macOS-only virtual machine app made for
                developers</strong
              >
              who need an easy-to-use way to make sure your apps run perfectly
              across multiple system configurations and localizations.
            </p>
          </div>
        </section>

        <section
          class="flex flex-col items-center p-10 max-w-screen-lg lg:mx-auto"
        >
        <iframe class="w-full aspect-video mb-8 mr-4 max-w-screen-md" src="https://www.youtube.com/embed/rN23Ygvy47E?si=IJkpdhSXUO8rJ_nj" title="The Bushel Holiday Special" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              Learn about the story behind Bushel
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              Check out our <a class="text-apple-900 font-bold hover:bg-green-400 hover:underline" href="https://brightdigit.com/episodes/169-the-bushel-holiday-special/" target="_blank">Holiday Special</a> to learn more about the story behind Bushel as well as <a class="text-apple-900 font-bold hover:bg-green-400 hover:underline" href="https://brightdigit.com/articles/bushel-launch-part-1/" target="_blank">our series of articles on the technical details of Bushel on our blog</a>.             
            </p>
          </div>
        </section>
      </div>
      <div class="bg-gradient-to-b from-apple-100 to-water-900">
        <section
          class="flex flex-col items-center p-10 md:flex-row-reverse lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          {% picture "/media/screenshots/Welcome","Welcome Screen in Bushel" %}

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              From the Sonoma beta to Monterey…
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              With Bushel, you can set up your virtual machine for almost any
              configuration,
              <strong
                >from a fresh, factory reset of the Sonoma beta all the way
                back to Monterey.</strong
              >
            </p>
          </div>
        </section>

        <section
          class="flex flex-col items-center p-10 md:flex-row lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          
          {% picture "/media/screenshots/Hello","Hello from Monterey VM" %}

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              With 1,000 possibilities, or 1'000…
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              For apps in France, China, Egypt and everywhere in between, Bushel
              can
              <strong
                >handle localization, accessibility and UX testing for every
                locale and language that Apple supports.</strong
              >
            </p>
          </div>
        </section>

        <section
          class="flex flex-col items-center p-10 md:flex-row-reverse lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          {% picture "/media/screenshots/Snapshots-AppStore","Using Snapshots in Bushel" %}

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              You can break everything!
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              <strong
                >Test, simulate, roll back and debug apps and scripts however
                you need to without worrying about destroying your
                machine.</strong
              >
              Need to run a startup script on a brand-new machine? We made
              Bushel to help you do it with zero risk!
            </p>
          </div>
        </section>
      </div>
      <div class="bg-gradient-to-b from-sandy-100 to-apple-100 sm:py-10">
        <section
          class="flex flex-col items-center p-10 md:flex-row lg:container lg:mx-auto sm:py-16 lg:py-24"
        >
          {% picture "/media/screenshots/Library-AppStore","Using Libraries in Bushel" %}

          <div
            class="contents md:flex md:flex-col md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl xl:mx-8"
          >
            <h2
              class="text-2xl mb-2 font-bold text-center md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-7xl lg:mb-4 2xl:mb-6 lg:tracking-tight"
            >
              Help us make Bushel brilliant!
            </h2>
            <p class="my-2 lg:font-light lg:leading-relaxed">
              <strong>Bushel is currently available in TestFlight.</strong> If you
              want to download the beta, <a href="https://testflight.apple.com/join/Jgk5o2M7">go to our TestFlight link</a> to get the latest updates.
            </p>
          </div>
        </section>
        <section
          class="flex flex-col items-center md:flex-row lg:container lg:mx-auto p-10 pt-0"
        >
          <a class="w-full lg:mx-auto lg:max-w-screen-sm xl:max-w-screen-md text-center bg-gray-800 text-white p-4 md:p-8 text-lg my-2 rounded-lg font-semibold sm:text-2xl md:text-3xl lg:text-4xl hover:bg-apple-900" 
          href="https://testflight.apple.com/join/Jgk5o2M7">
          <img
                class="text-white inline h-6 md:h-7 lg:h-10 mr-1 md:mr-2 mb-1"
                src="media/testflight.svg"
                alt=""
              />
              Start Testing
          </a>
        </section>
        
      </div>
